<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Directiva estructural *ngIf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="incTemperature(-10)">-10</ion-button>
  <ion-button (click)="incTemperature(-1)">-</ion-button>
  <ion-button (click)="incTemperature(1)">+</ion-button>
  <ion-button (click)="incTemperature(10)">+10</ion-button>

  <h1>Temperatura: {{ temperature }} ºC</h1>

  <h1>
    <ng-container *ngIf="temperature > 40">
      ¡Qué calor!
      <img width="50"
        src="../../../assets/sol.jpg">
    </ng-container>

    <ng-container *ngIf="temperature < 10">
      ¡Qué frío hace!
      <img width="50"
        src="../../../assets/copo.jpg"
        alt="">
    </ng-container>
  </h1>
</ion-content>
