<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Directiva atributo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p appCheckerboard>
    Los líderes de la organización establecerán las estrategias organizativas
    necesarias y elaborarán sus programaciones didácticas contemplando tanto
    su implementación en el marco de docencia presencial como de docencia no
    presencial, como se dijo en la última reunión.
  </p>
  <p>
    Texto generado con <a href="https://humoipsum.com/">Humo Ipsum</a>
  </p>
</ion-content>
