<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Ejemplos básicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button href="/example01" expand="full">Ejemplo 1</ion-button>
  <ion-button href="/example02" expand="full">Ejemplo 2</ion-button>
  <ion-button href="/example03" expand="full">Ejemplo 3</ion-button>
  <ion-button href="/example04" expand="full">Ejemplo 4</ion-button>
  <ion-button href="/example05" expand="full">Ejemplo 5</ion-button>
  <ion-button href="/example06" expand="full">Ejemplo 6</ion-button>
  <ion-button href="/example07" expand="full">Ejemplo 7</ion-button>
  <ion-button href="/example08" expand="full">Ejemplo 8</ion-button>
  <ion-button href="/example09" expand="full">Ejemplo 9</ion-button>
</ion-content>